//
   Created by 微信公众号：CTOPlus     Datetime on 2023/9/22.

html
   head
       title 哈哈
   body
       #box
           ul
               li   我是新闻
               li   我是新闻
               li   我是新闻
               li   我是新闻
       #aside